<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TTT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>alpha.studentms.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/servlet/logincontroller</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>deletememo</servlet-name>
  	<servlet-class>alpha.studentms.controller.DeleteMemoController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deletememo</servlet-name>
  	<url-pattern>/servlet/deletememocontroller</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>showmemo</servlet-name>
  	<servlet-class>alpha.studentms.controller.ShowMemoController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>showmemo</servlet-name>
  	<url-pattern>/servlet/showmemocontroller</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>addmemo</servlet-name>
  	<servlet-class>alpha.studentms.controller.AddMemoController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addmemo</servlet-name>
  	<url-pattern>/servlet/addmemocontroller</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>showpasswd</servlet-name>
  	<servlet-class>alpha.studentms.controller.ShowPasswdController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>showpasswd</servlet-name>
  	<url-pattern>/servlet/showpasswdcontroller</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>updatepasswd</servlet-name>
  	<servlet-class>alpha.studentms.controller.UpdatePasswdController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>updatepasswd</servlet-name>
  	<url-pattern>/servlet/updatepasswdcontroller</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>showmessage</servlet-name>
  	<servlet-class>alpha.studentms.controller.ShowMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>showmessage</servlet-name>
  	<url-pattern>/servlet/showmessagecontroller</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>studentUploadFile</servlet-name>
  	<servlet-class>alpha.studentms.controller.StudentUploadHandleController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>studentUploadFile</servlet-name>
  	<url-pattern>/servlet/studentUploadHandle</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>teacherUploadMessage</servlet-name>
  	<servlet-class>alpha.studentms.controller.TeacherUploadMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>teacherUploadMessage</servlet-name>
  	<url-pattern>/servlet/teacherUploadMessage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>studentInfoGather</servlet-name>
  	<servlet-class>alpha.studentms.controller.StudentInfoGatherController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>studentInfoGather</servlet-name>
  	<url-pattern>/servlet/studentInfoGather</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>studentInfoUpdate</servlet-name>
  	<servlet-class>alpha.studentms.controller.StudentInfoUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>studentInfoUpdate</servlet-name>
  	<url-pattern>/servlet/studentInfoUpdate</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>studentClassAndGrade</servlet-name>
  	<servlet-class>alpha.studentms.controller.StudentClassAndGradeInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>studentClassAndGrade</servlet-name>
  	<url-pattern>/servlet/studentClassAndGradeInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>studentInfoShow</servlet-name>
  	<servlet-class>alpha.studentms.controller.StudentInfoShowController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>studentInfoShow</servlet-name>
  	<url-pattern>/servlet/studentInfoShow</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>showPost</servlet-name>
  	<servlet-class>alpha.studentms.controller.ShowPostController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>showPost</servlet-name>
  	<url-pattern>/servlet/showPostController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>showDetail</servlet-name>
  	<servlet-class>alpha.studentms.controller.ShowDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>showDetail</servlet-name>
  	<url-pattern>/servlet/showDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>searchPost</servlet-name>
  	<servlet-class>alpha.studentms.controller.SearchPostController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>searchPost</servlet-name>
  	<url-pattern>/servlet/searchPostController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>starReply</servlet-name>
  	<servlet-class>alpha.studentms.controller.StarReplyController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>starReply</servlet-name>
  	<url-pattern>/servlet/starReplyController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>opposeReply</servlet-name>
  	<servlet-class>alpha.studentms.controller.OpposeReplyController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>opposeReply</servlet-name>
  	<url-pattern>/servlet/opposeReplyController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>collectPost</servlet-name>
  	<servlet-class>alpha.studentms.controller.CollectController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>collectPost</servlet-name>
  	<url-pattern>/servlet/collectController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>deletePost</servlet-name>
  	<servlet-class>alpha.studentms.controller.DeletePostController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deletePost</servlet-name>
  	<url-pattern>/servlet/deletePostController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>deleteReply</servlet-name>
  	<servlet-class>alpha.studentms.controller.DeleteReplyController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deleteReply</servlet-name>
  	<url-pattern>/servlet/deleteReplyController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>addPost</servlet-name>
  	<servlet-class>alpha.studentms.controller.AddPostController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addPost</servlet-name>
  	<url-pattern>/servlet/addPostController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>addReply</servlet-name>
  	<servlet-class>alpha.studentms.controller.AddReplyController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addReply</servlet-name>
  	<url-pattern>/servlet/addReplyController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>removeCollect</servlet-name>
  	<servlet-class>alpha.studentms.controller.RemoveCollectController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>removeCollect</servlet-name>
  	<url-pattern>/servlet/removeCollectController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>showCollection</servlet-name>
  	<servlet-class>alpha.studentms.controller.ShowCollectionController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>showCollection</servlet-name>
  	<url-pattern>/servlet/showCollectionController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>showSendedPosts</servlet-name>
  	<servlet-class>alpha.studentms.controller.ShowSendedPostController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>showSendedPosts</servlet-name>
  	<url-pattern>/servlet/showSendedPostController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>showReplyed</servlet-name>
  	<servlet-class>alpha.studentms.controller.ShowReplyedController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>showReplyed</servlet-name>
  	<url-pattern>/servlet/showReplyedController</url-pattern>
  </servlet-mapping>

  

</web-app>